@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: "Courier Prime", monospace;
  padding: 0;
  margin: 0;
}

@layer base {
  :root {
    --background: 210 100% 97%;
    --card: 0 0% 100%;
    --card-foreground: 204 96% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 96% 27%;
    --primary: 204 96% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 192 65% 85%;
    --secondary-foreground: 204 96% 27%;
    --muted: 210 38% 95%;
    --muted-foreground: 210 12% 45%;
    --accent: 172 66% 50%;
    --accent-foreground: 204 96% 27%;
    --destructive: 358 75% 59%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 38% 85%;
    --input: 210 38% 90%;
    --ring: 204 96% 40%;
    --radius: 0.75rem;
  }

  body {
    background-image: var(--background-gradient);
    @apply min-h-screen;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
